.form {
    width: 40%;
    border: 2px solid green;
    height: 90%;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.form img {
    height: 200px;
    width: 200px;
    background-image: url('../../media/default_image.jpeg');
    background-size: 100% 100%;
}

.form .no-image {
    border: 1px solid black;
    height: 200px;
    width: 200px;
    background-image: url('../../media/default_image.jpeg');
    background-size: 100% 100%;
}

.form label {
    width: 80%;
}

.form label > input {
    width: 80%;
}