.header {
    width: 100%;
    height: 75px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header img {
    height: 70px;
    width: 70px;
    margin-left: 40px;
}

.header h1 {
    font-size: 45px;
    line-height: 60px;
    font-weight: 700;

    margin: 30px;
}