.product {
    width: 90%;
    border: 1px solid black;
    margin: 10px;
    display:flex;
    
}

.product > * {
    margin: 10px;
}
.product > * > * {
    margin: 30px;
}

.product img {
    height: 200px;
    width: 200px;
    border: 1px solid pink;
}