.App {
  text-align: center;
}

.App header {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: red;
  color: white;
  font-weight: bold;
}

.App header a {
  color: white;
  height: 60px;
  width: 120px;
  background-color: limegreen;
  line-height: 50px;
  font-size: 15px;
}
